@model List<AppUserModel>
@{
    ViewData["title"] = "Liste des utilisateurs";
}
<div>@ViewBag.contenuCookie</div>
<div>@ViewBag.contenuSession</div>
<h1>Liste des utilisateurs</h1>
@*<section class="row">
        <div class="col">
            Nom user 1
        </div>
        <div class="col">
            Prénom user 1
        </div>
    </section>

    <section class="row">
        <div class="col">
            Nom user 2
        </div>
        <div class="col">
            Prénom user 2
        </div>
    </section>*@

@*@foreach(AppUserModel user in ViewData["listeUsers"] as List<AppUserModel>)
    {
        <section class="row">
            <div class="col">@user.Nom</div>
            <div class="col">@user.Prenom</div>
        </section>
    }*@

@*@foreach (AppUserModel user in ViewBag.listeUsers)
    {
        <section class="row">
            <div class="col">@user.Nom</div>
            <div class="col">@user.Prenom</div>
        </section>
    }*@

<div class="row">
    <div class="col">
        Nombre d'utilisateur : @Model.Count
    </div>
</div>
<form asp-controller="AppUser" asp-action="AddUserAjax" id="monForm">
    <div class="row">
        <input type="text" name="nom" class="col form-control" placeholder="Votre nom" />
        <input type="text" name="prenom" class="col form-control" placeholder="Votre prénom" />
        <button class="col btn btn-danger" type="submit">Valider</button>
    </div>
</form>
<section id="content">
    @foreach (AppUserModel user in Model)
    {
        <section class="row">
            <div class="col">@user.Nom</div>
            <div class="col">@user.Prenom</div>
            <div class="col"><a asp-controller="AppUser" asp-action="Detail" asp-route-id="@user.Id" class="btn btn-dark">Detail</a></div>
            <div class="col"><a asp-controller="AppUser" asp-action="DetailMore" asp-route-nom="@user.Nom" asp-route-prenom="@user.Prenom" class="btn btn-dark">Detail More</a></div>
        </section>
    }
</section>
