@model List<AppUserModel>
@{
    Layout = "_Master";
    ViewData["title"] = "Liste des utilisateurs";
}

<h1>Liste des utilisateurs</h1>
@*<section class="row">
        <div class="col">
            Nom user 1
        </div>
        <div class="col">
            Prénom user 1
        </div>
    </section>

    <section class="row">
        <div class="col">
            Nom user 2
        </div>
        <div class="col">
            Prénom user 2
        </div>
    </section>*@

@*@foreach(AppUserModel user in ViewData["listeUsers"] as List<AppUserModel>)
    {
        <section class="row">
            <div class="col">@user.Nom</div>
            <div class="col">@user.Prenom</div>
        </section>
    }*@

@*@foreach (AppUserModel user in ViewBag.listeUsers)
    {
        <section class="row">
            <div class="col">@user.Nom</div>
            <div class="col">@user.Prenom</div>
        </section>
    }*@

<div class="row">
    <div class="col">
       Nombre d'utilisateur : @Model.Count
    </div>
</div>
@foreach (AppUserModel user in Model)
{
    <section class="row">
        <div class="col">@user.Nom</div>
        <div class="col">@user.Prenom</div>
    </section>
}
